.nav-main {
    padding-top: 20px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.language-selector {
    margin-left: auto;
}

.help-dropdown {
    border-top: 1px solid #466168;
    position: relative;
}

.toggle-button {
    position: absolute;
    margin-left: auto;
    right: 10px;
    top: -15px;
}

.drop-down-body {
    width: 300px;
    margin: auto;
}